<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--mybatis的全局配置文件中的标签是有先后顺序的，按序分别是：properties、settings、
    typeAlliases、typeHandlers、objectFactory、plugins、environments、mappers。-->
    <settings>
        <!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
        <setting name="lazyLoadingEnabled" value="true"/><!--延迟加载/懒加载-->
        <setting name="aggressiveLazyLoading" value="false"/><!--按需加载/预加载-->
        <setting name="mapUnderscoreToCamelCase" value="true"/><!--驼峰映射 配置-->
    </settings>

    <!--    <environments default="development">-->
    <!--        <environment id="development">-->
    <!--            <transactionManager type="JDBC"/>-->
    <!--            <dataSource type="POOLED">-->
    <!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
    <!--                <property name="url" value="jdbc:mysql://localhost:3306/user_t?serverTimezone=UTC"/>-->
    <!--                <property name="username" value="root"/>-->
    <!--                <property name="password" value="root"/>-->
    <!--            </dataSource>-->
    <!--        </environment>-->
    <!--    </environments>-->


    <!--    <mappers>-->
    <!--        <mapper resource="studentsMapper.xml"/>-->
    <!--    </mappers>-->


</configuration>

